<launch>
    <!-- 啟動整合所有功能的節點 -->
    <node
        name="robot_controller"
        pkg="car_demo"
        exec="car_demo_psub_and_RT"
        output="screen">
        <param name="serial_port" value="/dev/ttyUSB0" />
        <param name="baud_rate" value="115200" />


          
    </node>
</launch>